{% extends 'base.html' %}

{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">

            <h1>Add a new cafe into the database</h1>

            <!-- This is where your WTForm will go -->
            <!-- I need the following fields:
            Cafe name
            Google Maps URL
            Opening time
            Closing time
            Coffee rating
            WiFi strength
            Power socket availability. -->
            <!-- Change below form to "POST" after finishing creating it. -->
            <form method="GET">

            </form>

	    <p class="space-above"><a href="#">See all cafes</a></p>

        </div>
    </div>
</div>

{% endblock %}
